body {
    background-color: #343233;
    color: black;
}

h1 {
    font-family: 'Barlow Semi Condensed';
}

h4 {
    font-family: 'Barlow Semi Condensed';
    font-size: 22px;
}

.navbar {
    background-color: #584B4F;
}

.jumbotron {
    background-color: #EAD5B5;
    border: 1px black solid;
}

.main-nav {
    margin-top: 73px;
    border-bottom: 1px solid black;
}

.display-3 {
    font-size: 50px;
    text-align: center;
}

#site-title {
    font-size: 40px;
    color: white;
}

.section-bar {

}

.nav-pills {
    padding-left: 14%;
    padding-right: 14%;
}

.nav-pills > a.active {
    background-color: #4c4145 !important;
    color: #white !important;
}

.nav-pills > a:hover {
    background-color: #4c4145;
    color: white;
}

.nav-pills > a {
    border-radius: 0 !important;
    color: #c1cad6;
}

.top-margin {
    margin-top: 150px;
}

.section-title {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.section-content {
    margin-bottom: 1%;
    background-color: #EAD5B5;
    padding: 50px;
    border: 1px black solid;
}

.project-title {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.hr-spacing {
    margin-top: 35px;
    margin-bottom: 35px;
}

#home {
    display: block;
}

#education {
    display: none;
}

#skills {
    display: none;
}

#experience {
    display: none;
}

#projects {
    display: none;
}
